<form method="GET" action="/flights/add">
    <div class="row">
        <div class="col">
            <label for="item">Add Flight:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <input type="text" name="flight" id="item" class="input-lg">
        </div>
        <div class="col">
            <button type="submit">New Flight</button>
        </div>
    </div>
    <div class="row ">
        <div class="col md-mt-9">
            <ul class="list-group">
                {{#each flights}}
                    <li class="list-group-item"><a href="/flights/{{f_id}}" ></a> {{company}} - {{departure}} - {{dep_time}} - {{destination}} - {{arr_time}} - {{total_f_seats}} - {{total_b_seats}} -{{total_b_seats}}
                    {{!-- <li class="list-group-item"><a href="/flights/{{f_id}}" ></a> - {{company}} - {{dep_time}} --}}

                        <a href="/flights/remove/{{f_id}}">X</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>
