<main>
    <form method="GET" action="/announcements/add">
        <fieldset>
            <legend>Προσθήκη ανακοίνωσης</legend>
            <div id="announcements-info-input">
                <input type="text" name="title" id="item1" placeholder="Title" class="input-lg">
                <input type="text" name="content" id="item2" placeholder="Content" class="input-lg">
                <input type="radio" name="status" id="item3" value="true" checked>
                <label for="item3">Ενεργή ανακοίνωση</label>
                <input type="radio" name="status" id="item4" value="false">
                <label for="item4">Ανενεργή ανακοίνωση</label>
            </div>
            <button type="submit">New Announcement</button>
        </fieldset>
    </form>
    <div id="existing-announcements-list">
        <a href="/admin">Επιστροφή</a><br>
        <table class="dashboard-table">
            <tr>
                <th>ID (toggle)</th>
                <th>Status</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Admin Username</th>
                <th>REMOVE</th>
            </tr>
            {{#each managedAnnouncements}}
            <tr>
                <td><a href="/announcements/toggle/{{id}}">{{id}}</a></td>
                <td>{{status}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{date}}</td>
                <td>{{admin_username}}</td>
                <td><a href="/announcements/remove/{{id}}">X</a></td>
            </tr>
            {{/each}}
        </table>
    </div>
</main>