<main>
    {{!--
    Μας νοιάζει οι admin να μπορούν να αγοράσουν εισητήριο εκ μέρους κάποιου;
    <form method="GET" action="/ticket/add">
        <fieldset>
            <legend>Προσθήκη εισητηρίου</legend>
            <button type="submit">New Ticket</button>
        </fieldset>
    </form>
    --}}
    <div id="existing-tickets-list">
        <div id="ticket-template">
            username - t_id - price - seat - f_id - departure - destination - d_date
        </div>
        <ul class="list-group">
            <a href="/flights">Επιστροφή</a><br>
            {{#each tickets}}
            <li class="ticket-list-item">
                {{t_id}}.
                {{username}} -
                {{price}} -
                {{seat_no}} -
                {{f_id}}
                <a href="/tickets/remove/{{t_id}}">X</a>
            </li>
            {{/each}}
        </ul>
    </div>
</main>