<main>
    {{!--
    Μας νοιάζει οι admin να μπορούν να αγοράσουν εισητήριο εκ μέρους κάποιου;
    <form method="GET" action="/ticket/add">
        <fieldset>
            <legend>Προσθήκη εισητηρίου</legend>
            <button type="submit">New Ticket</button>
        </fieldset>
    </form>
    --}}
    <div id="existing-tickets-list">
        <a href="/flights">Επιστροφή</a><br>
        <table class="dashboard-table">
            <tr>
                <th>t_id</th>
                <th>username</th>
                <th>price</th>
                <th>seat number</th>
                <th>flight id</th>
                <th>REMOVE</th>
            </tr>
            {{#each tickets}}
            <tr>
                <td>{{t_id}}</td>
                <td>{{username}}</td>
                <td>{{price}}</td>
                <td>{{seat_no}}</td>
                <td>{{f_id}}</td>
                <td><a href="/tickets/remove/{{t_id}}">X</a></td>
            </tr>
            {{/each}}
        </table>
    </div>
</main>