<main>
    <!--
    Δε νομίζω να χρειάζεται οι admin να προσθέτουν χρήστες
    <form method="GET" action="/admin/users">
        <fieldset>
            <legend>Προσθήκη χρήστη</legend>
            <button type="submit">New User</button>
        </fieldset>
    </form>
    -->
    <div id="existing-users-list">
        <div class="user-template">
            Username - Password - First Name - Last Name - Phone - Address - isAdmin
        </div>
        <ul class="list-group">
            <a href="/admin/users">Επιστροφή</a><br>
            {{#each users}}
            <li class="user-list-item">
                {{username}} -
                {{password}} -
                {{email}} -
                {{first_name}} -
                {{last_name}} -
                {{phone}} -
                {{address}}
                {{!-- <a href="/flights/remove/{{f_id}}">X</a> --}}
            </li>
            {{/each}}
        </ul>
    </div>
</main>