<main>
    <form method="GET" action="/flights/add">
        <fieldset>
            <legend>Προσθήκη πτήσης</legend>
            <div id="flight-info-input">
                <input type="text" name="company" id="item1" placeholder="Airline" class="input-lg">
                <input type="text" name="departure" id="item2" placeholder="Departure" class="input-lg">
                <input type="datetime-local" name="d_date" id="item3" placeholder="Date of Departure" class="input-lg">
                <input type="text" name="destination" id="item4" placeholder="Destination" class="input-lg">
                <input type="datetime-local" name="a_date" id="item5" placeholder="Date of Arrival" class="input-lg">
                <input type="integer" name="t_f_seats" id="item6" placeholder="Total first class seats" class="input-lg">
                <input type="integer" name="first" id="item7" placeholder="First class price" class="input-lg">
                <input type="integer" name="t_b_seats" id="item8" placeholder="Total business class seats" class="input-lg">
                <input type="integer" name="business" id="item9" placeholder="Business class price" class="input-lg">
                <input type="integer" name="t_e_seats" id="item10" placeholder="Total economy class seats" class="input-lg">
                <input type="integer" name="economy" id="item11" placeholder="Economy class price" class="input-lg">
            </div>
            <button type="submit">New Flight</button>
        </fieldset>
    </form>

    <div id="existing-flight-data-list">
        <div id="flight-template">
            Id - Company - departure - d_date - destination - a_date - t_f_seats - first class price - total_b_seats -
            business price - total_e_seats -economy price
        </div>
        <ul class="list-group">
            <a href="/admin">Επιστροφή</a><br>
            {{#each flights}}
            <li class="flight-list-item">
                <a href="/tickets?flightId={{f_id}}">{{f_id}}.</a>
                {{f_id}}.
                {{company}} -
                {{departure}} -
                {{d_date}} -
                {{destination}} -
                {{a_date}} -
                {{t_f_seats}} -
                {{first}} -
                {{t_b_seats}} -
                {{business}} -
                {{t_e_seats}} -
                {{economy}}
                <a href="/flights/remove/{{f_id}}">X</a>
            </li>
            {{/each}}
        </ul>
    </div>
</main>