<form method="GET" action="/tickets">
    <div class="row">
        <div class="col mt-3 col-sm-9">
               username - t_id - price - seat - f_id - departure - destination - d_date
        </div>
    </div>
    <div class="row ">
        <div class="col mt-3">
            <ul class="list-group">
                <a href="/">..</a><br> 
                {{#each ticket}}
                    <li class="list-group-item">
                        {{t_id}}. {{username}} - {{price}} - {{seat}} - <a href="/../flights">{{f_id}}</a> - {{departure}} - {{destination}} - {{d_date}}
                        {{!-- <a href="/flights/remove/{{f_id}}">X</a> --}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>