<main>
<form method="GET" action="/admin/announcements">
    <div class="row">
        <div class="col mt-3 col-sm-9">
               ID - Status - Title - Content - Date - Admin Username
        </div>
    </div>
    <div class="row ">
        <div class="col mt-3">
            <ul class="list-group">
                <a href="/profile">..</a><br>
                {{#each managedAnnouncements}}
                    <li class="list-group-item">
                        {{id}} - {{status}} - {{title}} - {{content}} - {{date}} - {{admin_username}}
                        {{!-- <a href="/flights/remove/{{f_id}}">X</a> --}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>
</main>