<form method="GET" action="/classes/add">
    <div class="row">
        <div class="col">
            <label for="item">Add Class Prices for specific flight:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <input type="integer" name="f_id" id="item1" placeholder="f_id" class="input">
            <input type="integer" name="first" id="item2" placeholder="First class price" class="input">
            <input type="integer" name="business" id="item3" placeholder="Business class price" class="input">
            <input type="integer" name="economy" id="item4" placeholder="Economy class price" class="input">
        </div>
        <div class="col">
            <button type="submit">New entry</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 col-sm-9">
               f_id - First seats - Business seats - Economy seats
        </div>
    </div>
    <div class="row ">
        <div class="col mt-3">
            <ul class="list-group">
                <a href="/">..</a><br>
                {{#each classes}}
                    <li class="list-group-item">
                        <a href="/flights" >{{f_id}}.</a> {{first}} - {{business}} - {{economy}}
                        <a href="/classes/remove/{{f_id}}">X</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>