<form method="GET" action="/flights/add">
    <div class="row">
        <div class="col">
            <label for="item">Add Flight:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <input type="text" name="company" id="item1" placeholder="Airline" class="input-lg">
            <input type="text" name="departure" id="item2" placeholder="Departure" class="input-lg">
            <input type="time" name="dep_time" id="item3" placeholder="Date of Departure" class="input-lg">
            <input type="text" name="destination" id="item4" placeholder="Destination" class="input-lg">
            <input type="time" name="arr_time" id="item5" placeholder="Date of Arrival" class="input-lg">
            <input type="integer" name="total_f_seats" id="item6" placeholder="Total first class seats" class="input-lg">
            <input type="integer" name="total_b_seats" id="item7" placeholder="Total business class seats" class="input-lg">
            <input type="integer" name="total_e_seats" id="item8" placeholder="Total economy class seats" class="input-lg">
        </div>
        <div class="col">
            <button type="submit">New Flight</button>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 col-sm-9">
               Id - Company - departure - d_date - destination - a_date - total_f_seats - total_b_seats - total_e_seats
        </div>
    </div>
    <div class="row ">
        <div class="col mt-3">
            <ul class="list-group">
                <a href="/">..</a><br>
                {{#each flights}}
                    <li class="list-group-item">
                        <a href="/flights/{{f_id}}" >{{f_id}}.</a> {{company}} - {{departure}} - {{d_date}} - {{destination}} - {{a_date}} - {{total_f_seats}} - {{total_b_seats}} -{{total_b_seats}}
                        <a href="/flights/remove/{{f_id}}">X</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>
