<main>
    <div class="planner-container">
        <div class="search-area">
            <div class="selector-group">
            <label for="from-location">Από</label>
            <select id="from-location">
                <option value="" disabled selected hidden>Προέλευση</option>
                {{#each locations}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            </div>
            <div class="selector-group">
            <label for="destination-location">Πρός</label>
            <select id="destination-location">
                <option value="" disabled selected hidden>Προορισμός</option>
                {{#each locations}}
                <option value="{{this}}" hidden>{{this}}</option>
                {{/each}}
            </select>
            </div>
            <button id="searchtrips" disabled>Αναζήτηση</button>
        </div>
        <div class="departures" id="departures">
            <form>
                <fieldset>
                <legend>Δρομολόγια</legend>
                <ul>
                    {{#each flights}}
                    <li>
                        <div class="flight" data-f_id="{{f_id}}" data-from="{{departure}}" data-to="{{destination}}">
                            <input type="radio" name="flight" value="flight-{{f_id}}" id="flight-{{f_id}}-radio">
                            <!-- To Do: fill this out via JS so that the date format is more readable -->
                            <label for="flight-{{f_id}}-radio">Ξεκινάει στις {{d_date}} και φτάνει στις {{a_date}}</label>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                </fieldset>
                <button disabled>Αγορά</button>
                </form>
        </div>
    </div>
    <!-- Data taken from server and saved for client-side processing via js -->
    <div id="direct-connections">
        {{#each connections}}
        <div data-from="{{departure}}" data-to="{{destination}}"></div>
        {{/each}}
    </div>
</main>