<main>
    <div class="planner-container">
        <div class="search-area">
            <div class="selector-group">
                <label for="from-location">Από</label>
                <select id="from-location">
                    <option value="" disabled selected hidden>Προέλευση</option>
                    {{#each locations}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="selector-group">
                <label for="destination-location">Πρός</label>
                <select id="destination-location">
                    <option value="" disabled selected hidden>Προορισμός</option>
                    {{#each locations}}
                    <option value="{{this}}" hidden>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <button id="searchtrips" disabled>Αναζήτηση</button>
        </div>
        <div class="departures" id="departures">
            {{!-- Built with POST requests. If you need to work with GET reqs, you need to change req.body in the route
            and work with req.params. POST sends all the inputs to req.body
            By sending a POST request in the same url, we can avoid changing the url by its nature compared to GET.
            And we can append the results of ticketSearch in the following form afterwards. --}}
            <form method="POST" action="/reserve">
                <fieldset id="flight-options">
                    <legend>Δρομολόγια</legend>
                    <ul>
                        {{#each flights}}
                        <li>
                            <input type="radio" name="f_id" value="{{f_id}}" id="flight-{{f_id}}-radio"
                            data-company="{{company}}"
                            data-d_date="{{d_date}}" data-a_date="{{d_date}}"
                            data-from="{{departure}}" data-to="{{destination}}"
                            data-t_f_seats="{{t_f_seats}}" data-f_cost="{{first}}"
                            data-t_b_seats="{{t_b_seats}}" data-b_cost="{{business}}"
                            data-t_e_seats="{{t_e_seats}}" data-e_cost="{{economy}}"
                            required>
                            <label for="flight-{{f_id}}-radio" id="flight-{{f_id}}-label">
                                <span>{{company}}</span>
                                <ul>
                                    <li>
                                    <span>Ξεκινάει στις: </span>
                                    <span id="dtime-{{f_id}}"></span>
                                    </li>
                                    <li>
                                    <span>Φτάνει στις: </span>
                                    <span id="atime-{{f_id}}"></span>
                                    </li>
                                </ul>
                            </label>    
                        </li>
                        {{/each}}
                    </ul>
                    <button id="class-picker-btn" type="button">Επιλογή θέσης</button>
                </fieldset>
                <fieldset id="class-picker-fieldset">
                    {{!-- Would be nice to check if seat left of that class are 0 and make it unpickable in that case
                    --}}
                    <legend>Επιλογή θέσης</legend>
                    <input type="radio" name="f_class" value="F" id="fseatpick" required>
                    <label for="fseat">
                        <ul>
                            <li>
                            <span>Τιμή:</span>
                            <span id="f_seat_cost"></span>
                            </li>
                            <li>
                            <span>Διαθεσιμότητα:</span>
                            <span id="f_seat_available"></span>
                            <span>/</span>
                            <span id="f_seat_total"></span>
                            </li>
                        </ul>
                    </label>
                    <input type="radio" name="f_class" value="B" id="bseatpick">
                    <label for="bseat">
                        <ul>
                            <li>
                            <span>Τιμή:</span>
                            <span id="b_seat_cost"></span>
                            </li>
                            <li>
                            <span>Διαθεσιμότητα</span>
                            <span id="b_seat_available"></span>
                            <span>/</span>
                            <span id="b_seat_total"></span>
                            </li>
                        </ul>
                    </label>
                    <input type="radio" name="f_class" value="E" id="eseatpick">
                    <label for="eseat">
                        <ul>
                            <li>
                            <span>Τιμή:</span>
                            <span id="e_seat_cost"></span>
                            </li>
                            <li>
                            <span>Διαθεσιμότητα</span>
                            <span id="e_seat_available"></span>
                            <span>/</span>
                            <span id="e_seat_total"></span>
                            </li>
                        </ul>
                    </label>
                    <button id="purchase" type="submit">Αγορά</button>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- Data taken from server and saved for client-side processing via js -->
    <div id="direct-connections">
        {{#each connections}}
        <div data-from="{{departure}}" data-to="{{destination}}"></div>
        {{/each}}
    </div>
</main>