<main>
    <div id="user-profile">
        <h1>Προφίλ {{username}}</h1>
        <div id="user-tickets-list">
            <h3>Λίστα κρατήσεων</h3>
            <table class="dashboard-table">
                <tr>
                    <th>Κωδικός εισιτηρίου</th>
                    <th>Τιμή</th>
                    <th>Θέση</th>
                    <th>Kωδικός πτήσης</th>
                </tr>
                {{#each tickets}}
                <tr>
                    <td>{{t_id}}</td>
                    <td>{{price}}</td>
                    <td>{{seat_no}}</td>
                    <td>{{f_id}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div id="user-flights-list">
            <h3>Λίστα σχετικών πτήσεων</h3>
            <table class="dashboard-table">
                <tr>
                    <th>Κωδικός πτήσης</th>
                    <th>Εταιρία</th>
                    <th>Από</th>
                    <th>Αναχώριση</th>
                    <th>Προς</th>
                    <th>Άφιξη</th>
                </tr>
                {{#each flights}}
                <tr>
                    <td>{{f_id}}</td>
                    <td>{{company}}</td>
                    <td>{{departure}}</td>
                    <td>{{d_date}}</td>
                    <td>{{destination}}</td>
                    <td>{{a_date}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{!
    <form id="personal-area">
        <fieldset>
            <legend>Διόρθωση προσωπικών στοιχείων</legend>
        </fieldset>
    </form>
    }}
</main>