<main>
    <h1>Προφίλ {{username}}</h1>
    <div id="user-tickets-list">
        <ul class="list-group">
            {{#each tickets}}
            <li class="ticket-list-item">
                {{t_id}}.
                {{username}} -
                {{price}} -
                {{seat_no}} -
                {{f_id}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div id="user-flights-list">
        <ul class="list-group">
            {{#each flights}}
            <li class="flight-list-item">
                {{f_id}}.
                {{company}} -
                {{departure}} -
                {{d_date}} -
                {{destination}} -
                {{a_date}}
            </li>
            {{/each}}
        </ul>
    </div>
    {{!
    <form id="personal-area">
        <fieldset>
            <legend>Διόρθωση προσωπικών στοιχείων</legend>
        </fieldset>
    </form>
    }}
</main>